/* || GENERAL */

html {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  margin: 0;
  padding: 8px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("/background.jpg");
  background-size: cover;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h2#title {
  margin-bottom: 32px;
  position: relative;
}

h2#title::after {
  content: '';
  width: 32px;
  height: 4px;
  border-radius: 4px;
  background: var(--black-color);
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

header {
  text-align: center;
  margin: 20px;
}

i {
  color: var(--black-color);
}

/* || POPUP */

.popup {
  width: 100%;
  width: 250px;
  max-width: 250px;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 16px;
  padding: 24px 20px;
  text-align: center;
  transition: opacity 1s;
  overflow: hidden;
  z-index: 10;
}

.popup a {
  position: absolute;
  top: 10%;
  left: 92%;
  color: var(--black-color);
  cursor: pointer;
}

.popup h4 {
  margin: 0;
  padding: 0;
}

.red {
  background: var(--red-color-trans);
}

.green{
  background: var(--green-color-trans);
}

.popup::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: var(--strong-color);
  animation: anim 4s linear forwards;
}

@keyframes anim {
  100%{width: 0;}
}

/* || LOGIN FORM */

.form-box {
  width: 90%;
  max-width: 500px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  background: var(--background-color);
  border-radius: 16px;
  padding: 40px 60px 68px;
  text-align: center;
}

.input-group {
  height: 156px;
}

.input-field {
  background: var(--input-color);
  margin: 16px 84px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.email-field {
  max-height: 0;
  transition: max-height 0.5s;
  overflow: hidden;
}

input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 12px 16px;
}

.input-field i {
  margin-left: 16px;
  color: #888;
}

.login-button {
  margin: 8px 84px;
}

.login-button button {
  width: 100%;
  padding: 4px;
  background: var(--login-button-color);
  height: 40px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.forgot-password-signUp-group {
  margin: 10px 84px;
  display: flex;
  justify-content: space-between;
}

.forgot-password-signUp-group button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: transparent;
}

/* || DASHBOARD SIDEBAR */

.dashboard-container {
  display: flex;
  flex-direction: row;
  right: 8px;
  left: 8px;
  top: 8px;
  bottom: 8px;
  height: 100%;
}

.dashboard-sidebar-container {
  margin: 0;
  max-width: 320px;
  min-width: 320px;
  border-radius: 10px 0 10px 10px;
  background: var(--background-color);
}

#dashboard-sidebar {
  transition:
    min-width 0.5s,
    width 0.5s;
  overflow: hidden;
  white-space: nowrap;
}

#dashboard-logo,
#user-info,
#dashboard-menu-list {
  transition: opacity 0.3s;
}

.dashboard-logo {
  text-align: center;
  margin: 12px 0;
}

.dashboard-divider {
  margin: 16px 48px;
  height: 4px;
  border-radius: 4px;
  background: var(--black-color);
}

.dashboard-sidebar-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.dashboard-sidebar-user img {
  width: 56px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid var(--black-color);
}

.dashboard-sidebar-user span {
 margin: 0 12px;
}

#user-name {
  transition: margin 0.3s;
}

.dashboard-menu-lists {
  list-style-type: none;
  padding: 0;
  margin: 16px 0;
}

.dashboard-menu-lists li.menuActive {
  background: var(--background-color);
}

.dashboard-menu-lists li:hover {
  background: var(--background-color);
  transition: 0.3s all;
}

.dashboard-link {
  display: inline-flex;
  width: 100%;
  align-items: center;
  margin: 8px 0;
}

.dashboard-link i {
  font-size: 1.5em;
  padding-left: 32px;
}

.dashboard-link-text {
  display: inline;
  text-align: center;
  width: 100%;
  margin-left: -32px;
}

/* || DASHBOARD MAIN CONTENT */

.dashboard-content-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

.dashboard-nav {
  display: flex;
  justify-content: space-between;
}

.dashboard-nav i {
  font-size: 1.5em;
}

#dashboard-sidebar-icon {
  background: var(--background-color);
  padding: 4px 6px 4px 0;
  border-radius: 0 4px 4px 0;
}

.dashboard-logout {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

#logoutBtn {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: transparent;
}

.dashboard-logout span {
  margin: 4px;
}

.dashboard-content {
  border-radius: 10px;
  padding: 8px;
  position: absolute;
  top: 48px;
  right: 8px;
  bottom: 8px;
  left: 336px;
  background: var(--background-color);
  transition: left 0.5s, margin 30ms;
  overflow: hidden;
}

.dashboard-content-main {
  height: 100%;
}

/* || DASHBOARD TABLE */

.dashboard-table {
  position: relative;
  height: calc(100% - 46px);
  width: 100%;
  overflow: hidden;
}

.product-table {
  width: 100%;
  position: absolute;
}

.product-table-header {
  background: var(--table-header-color);
  height: 40px;
}

th {
  padding: 0;
}

.product-table-row {
  background: var(--table-row-color-odd);
  height: 36px;
}

.product-table-row:nth-child(even) {
  background: var(--table-row-color-even);
}

.product-header-number {
  width: 44px;
  border-top-left-radius: 5px;
}

.product-header-details,
.product-header-delete {
  width: 36px;
}

.product-header-name {
  min-width: 196px;
}

.product-header-code {
  width: 88px;
}

.product-header-description {
  min-width: 312px;
}

.product-header-quantity {
  width: 49px;
}

.product-header-price {
  min-width: 124px;
  border-top-right-radius: 5px;
}

.product-item-number,
.product-item-details,
.product-item-delete,
.product-item-code,
.product-item-quantity,
.product-item-u-price,
.product-item-t-price {
  text-align: center;
}

.product-item-details,
.product-item-delete {
  cursor: pointer;
}

.product-item-delete {
  font-size: 1.4em;
}

.product-item-name,
.product-item-description {
  padding-left: 8px;
}

.operations-menu {
  width: calc(100% - 20px);
  height: 42px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-radius: 0 0 5px 5px;
  background: var(--table-header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.operations-menu button {
  height: 70%;
  padding-right: 8px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: transparent;
}

.operations-menu i {
  margin-right: 8px;
  color: var(--white-color);
}

.add-product {
  margin-left: 50px;
}

.sum-result {
  width: 112px;
  text-align: center;
  overflow: auto;
}

/* || MODALS */

.add-product-modal {
  position: fixed;
  opacity: 0;
  scale: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 200ms;
  width: 50%;
  min-width: 663px;
  height: 80%;
  min-height: 594px;
  background: var(--modal-color);
  border-radius: 10px;
  z-index: 9;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 10px;
  padding: 10px;
}

.grid-area-product-image {
  grid-column: span 6;
  grid-row: span 6;
  overflow: hidden;
  background: var(--stronger-color);
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.product-image-container svg {
  height: 50%;
  width: 50%;
  filter: invert(60%) sepia(0%) saturate(1248%) hue-rotate(212deg) brightness(93%) contrast(90%);
}

.product-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.grid-area-product-name,
.grid-area-product-price,
.grid-area-product-quantity {
  grid-column: span 6;
  grid-row: span 2;
}

.grid-area-product-description {
  grid-column: span 12;
  grid-row: span 4;
}

.grid-area-product-category {
  grid-column: span 5;
  grid-row: span 2;
}

.grid-area-product-code {
  grid-column: span 3;
  grid-row: span 2;
}

.grid-area-edit-button,
.grid-area-delete-button {
  grid-column: span 2;
}

.grid-area-exit-button {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: blanchedalmond; */
  border-radius: 10px;
}

.add-product-modal input {
  width: 90%;
  height: 40px;
  padding: 2px 0 0;
  margin: 8px 0 0 0;
  border-radius: 5px;
  text-align: center;
  background: var(--input-color);

}

.product-quantity-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.product-quantity-container i {
  padding: 6px 8px 0;
  font-size: 28px;
  color: var(--modal-color);
}

.grid-area-product-description h3 {
  padding-bottom: 8px;
  padding-left: 8px;
}

.grid-area-product-description textarea {
  width: calc(100% - 15px);
  height: 78%;
  padding: 4px 4px 0 8px;
  text-align: left;
  border-radius: 10px;
  background: var(--input-color);
}

.grid-area-product-category input {
  width: 100%;
  margin-left: 2px;
}

#productQuantityLabel {
  width: 30%;
}

.add-product-modal button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.grid-area-edit-button {
  background: var(--blue-color);
}

.grid-area-delete-button {
  background: var(--red-color);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: opacity 350ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--strong-color);
  pointer-events: none;
  z-index: 7;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* || ROOT */

:root{
  --red-color: #ff4242;
  --red-color-trans: #ff4242e1;
  --green-color: #45cb45;
  --green-color-trans: #45cb45c9;
  --blue-color: #4545cb;
  --strong-color: #27272745;
  --stronger-color: #272727a0;
  --black-color: #111;
  --white-color: #eaeaea;
  --background-color:#4e4e4e49;
  --modal-color:#666666f9;
  --table-header-color: #666666cd;
  --table-row-color-even: #d7d7d7dd;
  --table-row-color-odd: #c4c4c4d6;
  --login-button-color: #666;
  --inactive-button-color: #4e4e4e;
  --input-color: #eaeaea;
}