<section class="dashboard-container">
  <section class="dashboard-sidebar-container" id="dashboard-sidebar">
    <div id="dashboard-logo" class="dashboard-logo">
      <h2 id="dashboard-title">Nunes Sports</h2>
      <h3 id="dashboard-subtitle">Sistema de Inventário</h3>
    </div>
    <div class="dashboard-divider"></div>
    <section class="dashboard-sidebar-user" id="user-info">
      <img id="profile-pic" src="/profile-pic-300x300.png" alt="Avatar do usuário.">
      <span id="user-name">Nome</span>
    </section>
    <div class="dashboard-divider"></div>
    <section class="dashboard-sidebar-menu">
      <ul id="dashboard-menu-list" class="dashboard-menu-lists">
        <li id="inventarioList" class="menuActive">
          <a class="dashboard-link" id="inventario" href="">
            <i class="fa-solid fa-table"></i>
            <span class="dashboard-link-text">INVENTÁRIO</span>
          </a>
        </li>
        <li id="graficosList">
          <a class="dashboard-link" id="graficos" href="">
            <i class="fa-solid fa-chart-line"></i>
            <span class="dashboard-link-text">GRÁFICOS</span>
          </a>
        </li>
        <li id="configuracoesList">
          <a class="dashboard-link" id="configuracoes" href="">
            <i class="fa-solid fa-sliders"></i>
            <span class="dashboard-link-text">CONFIGURAÇÕES</span>
          </a>
        </li>
      </ul>
    </section>
  </section>
  <section class="dashboard-content-container">
    <nav class="dashboard-nav">
      <a href="" id="dashboardToggleBtn">
        <i id="dashboard-sidebar-icon" class="fa-solid fa-bars"></i>
      </a>
      <form action="/logout?_method=DELETE" method="POST" class="dashboard-logout">
        <button class="dashboard-logout" id="logoutBtn" type="submit">
          <i class="fa-solid fa-door-open"></i>
          <span id="logoutTxt">SAIR</span>
        </button>
      </form>
    </nav>
    <main class="dashboard-content" id="dashboardContent">
      <section class="dashboard-content-main">
        <section class="dashboard-table">
          <table class="product-table" id="productTable">
            <tr class="product-table-header">
              <th class="product-header-number">#</th>
              <th class="product-header-details"><i class="fa-regular fa-file-lines"></i></th>
              <th class="product-header-delete"><i class="fa-solid fa-trash"></i></th>
              <th class="product-header-name">NOME</th>
              <th class="product-header-code">CÓDIGO</th>
              <th class="product-header-description">DESCRIÇÃO</th>
              <th class="product-header-quantity">QTD</th>
              <th class="product-header-price" colspan="2">VALOR (U/T)</th>
            </tr>
          </table>
        </section>
        <section class="operations-menu">
          <button class="add-product" id="addProductButton">
            <i class="fa-solid fa-plus"></i>ADICIONAR PRODUTO
          </button>
          <button class="filter-products" id="filterProductsButton">
            <i class="fa-solid fa-filter"></i>FILTRAR PRODUTOS
          </button>
          <button class="update-table" id="updateTableButton">
            <i class="fa-solid fa-arrows-rotate"></i>ATUALIZAR TABELA
          </button>
          <div class="sum-result" id="sumResult"></div>
        </section>
      </section>
    </main>
  </section>
</section>
<div id="popUpBox"></div>
<form class="add-product-modal" id="addProductModal">
  <div class="grid-area-product-image grid-center">
    <div class="product-image-container">
      <svg xmlns="http://www.w3.org/2000/svg" alt="Imagem do produto." viewBox="0 0 512 512">
        <path
          d="M448 80c8.8 0 16 7.2 16 16V415.8l-5-6.5-136-176c-4.5-5.9-11.6-9.3-19-9.3s-14.4 3.4-19 9.3L202 340.7l-30.5-42.7C167 291.7 159.8 288 152 288s-15 3.7-19.5 10.1l-80 112L48 416.3l0-.3V96c0-8.8 7.2-16 16-16H448zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z" />
      </svg>
    </div>
  </div>
  <div class="grid-area-product-name grid-center">
    <h3>NOME DO PRODUTO:</h3>
    <input type="text" name="product-name-label" id="productNameLabel" placeholder="" disabled>
  </div>
  <div class="grid-area-product-price grid-center">
    <h3>PREÇO UNITÁRIO:</h3>
    <input type="number" name="product-price-label" id="productPriceLabel" placeholder="" disabled>
  </div>
  <div class="grid-area-product-quantity grid-center">
    <h3>QUANTIDADE EM ESTOQUE:</h3>
    <div class="product-quantity-container">
      <i class="fa-solid fa-minus" id="subtractProductQuantity"></i>
      <input type="number" name="product-quantity-label" id="productQuantityLabel" placeholder="" disabled>
      <i class="fa-solid fa-plus" id="addProductQuantity"></i>
    </div>
  </div>
  <div class="grid-area-product-description center">
    <h3>DESCRIÇÃO:</h3>
    <textarea name="product-description-label" id="productDescriptionLabel" disabled></textarea>
  </div>
  <div class="grid-area-product-category grid-center">
    <h3>CATEGORIA:</h3>
    <input type="text" name="product-category-label" id="productCategoryLabel" placeholder="" disabled>
  </div>
  <div class="grid-area-product-code grid-center">
    <h3>CÓDIGO:</h3>
    <input type="number" name="product-code-label" id="productCodeLabel" placeholder="" disabled>
  </div>
  <button class="grid-area-edit-button grid-center" id="editModalButton" type="submit">EDITAR</button>
  <button class="grid-area-exit-button grid-center" id="closeModalButton">SAIR</button>
  <button class="grid-area-delete-button grid-center" id="deleteModalButton">DELETAR</button>
</form>
<div class="filter-products-modal" id="filterProductsModal"></div>
<div id="overlay"></div>
<script type="module" src="/dashboardScript.js"></script>